/*
  Make links easier to look at
*/
body.listing-page {
  height: inherit;
  min-height: 0px;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #5E5E5E;
}
body.listing-page>div.content {
  margin-top: 0px;
  background-color: transparent;
  box-shadow: initial;
}
body .content .spacer {
  margin-bottom: 0px;
}
.thing.link .score {
  color: #00183f;
}
.thing.link, .thing.subreddit{
  font-color: black;
  border: 3px solid black;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}
.thing .entry .title a {
  font-size: 24px;
  color: #00183f;
}

/*
  Make this into a 2 column view.
*/
#siteTable.sitetable {
  width: 35%;
  margin-left: 1%;
  float: left;
  overflow-y: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
}

/*
  Prev and next buttons
*/
.nextprev {
  display: block;
  width: 100%;
}
.nextprev span {
  display: inline-block;
  width: 50%;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.nextprev span a {
  display: inline-block;
  height: 1.2em;
  width: 92%;
  margin: 2% 0px;
  padding: 10px 2%;
  border: 3px solid black;
  border-radius: 8px;
}
.nextprev span a:hover{
  border: 3px solid blue;
}

/*
  My custom sections
*/
#acc_comments, #acc_content{
  background-color: white;
}
#acc_wrapper {
  width: 62%;
  margin-left: 37%;
  position: fixed;
  height: 100vh;
}
.acc {
  margin: 2vh 0px;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 20px;
  overflow-y: auto;
}
#acc_content {
  height: 44vh;
  padding: 1vh;
  margin-top: 1vh;
  overflow-x: hidden;
}
#acc_content p{
  font-size: 20px;
  margin: 15px 10px;
}
#acc_content img{
  max-width:98%;
  max-height:98%;
  overflow-y: hidden;
  text-align: center;
  margin: 0px 10px;
}
#acc_content img.acc_article{
  max-height: 70%;
  max-width: 60%;
  float: left;
}
#acc_content h1 {
  font-size: 24px;
  font-weight: 700;
}
#acc_content_menu {
  height: 6vh;
  padding: 0px;
  border: 0px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  display: inline block;
  text-align: center;
  overflow-y: hidden;
}
.acc_menu_button {
  font-size: 26px;
  padding: 0px 10px;
  border-radius: 8px;
  border: 3px solid black;
  height: 100%;
}
#acc_comments {
  padding: 0px 10px;
  height: 40vh; 
}
#acc_comments h1 {
  font-weight: 700;
  color: #369;
}
.acc_comment {
  background-color: #e5e5e5;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 8px;
  border: 3px solid gray;
}
.thing.link.acc_focused, .thing.subreddit.acc_focused, .acc_focused, .nextprev a.acc_focused {
  background-color: #bad4ff;
  border: 3px solid blue;
}
/*
Custom Scrolling
*/
::-webkit-scrollbar-track-piece{
  /*background-color:#fff;*/
  -webkit-border-radius:0;
}
::-webkit-scrollbar{
  width:14px;
  height:8px;
}
::-webkit-scrollbar-thumb{
  height:50px;
  width: 8px;
  background-color: white;
  -webkit-border-radius:8px;
  border: 4px solid #5E5E5E;
}
::-webkit-scrollbar-thumb:hover{
  height:50px;
  /*background-color:#9f9f9f;*/
  -webkit-border-radius:4px;
}
/*
Except in the content, where the scrollbar inherits white..
*/
#acc_wrapper ::-webkit-scrollbar-thumb{
  border: 4px solid white;
  background-color: black;
}