/*
  Make links easier to look at
*/
body {
  height: inherit;
  min-height: 0px;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
}
body .content {
  margin-top: 0px;
}
body .content .spacer {
  margin-bottom: 0px;
}
.thing.link .score {
  color: #00183f;
}
.thing.link {
  font-color: black;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}
.link .entry .title a {
  font-size: 20px;
  color: #00183f;
}

/*
  Make this into a 2 column view.
*/
#siteTable.sitetable {
  width: 39%;
  margin-left: 1%;
  float: left;
  overflow-y: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
}

/*
  Prev and next buttons
*/
.nextprev {
  display: block;
  width: 100%;
}
.nextprev span {
  display: inline-block;
  width: 50%;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.nextprev span a {
  display: inline-block;
  height: 1.2em;
  width: 92%;
  margin: 2% 0px;
  padding: 10px 2%;
  border: 2px solid black;
  border-radius: 8px;
}

/*
  My custom sections
*/
#acc_wrapper {
  width: 57%;
  margin-left: 41%;
  position: fixed;
  height: 100vh;
}
.acc {
  margin-bottom: 2vh;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 20px;
  overflow-y: auto;
}
#acc_content {
  height: 47vh;
  margin-top: 1vh;
  padding: 1vh
}
#acc_content p{
  font-size: 16px;
}
#acc_content img{
  height: 100%;
  overflow-y: hidden;
  text-align: center;
}
#acc_content_menu {
  height: 4vh;
  padding: 0px;
  border: 0px;
  padding-left: 0px;
}
.acc_menu_button {
  font-size: 20px;
  padding: 0px 10px;
  margin: 0px;
  border-radius: 8px;
  height: 100%;
}
#acc_comments {
  margin-bottom: 0px;
  padding: 0px 10px;
  height: 40vh; 
}
#acc_comments h1 {
  font-weight: 700;
  color: #369;
}
.acc_comment {
  background-color: #e5e5e5;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 8px;
  border: 0px solid black;
}
.thing.link.acc_focused, .acc_focused, .nextprev a.acc_focused {
  background-color: #bad4ff;
  border: 2px solid blue;
}
/*
Custom Scrolling
*/
::-webkit-scrollbar-track-piece{
  background-color:#fff;
  -webkit-border-radius:0;
}
::-webkit-scrollbar{
  width:8px;
  height:8px;
}
::-webkit-scrollbar-thumb{
  height:50px;
  background-color:#999;
  -webkit-border-radius:4px;
  outline:2px solid #fff;
  outline-offset:-2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
  height:50px;
  background-color:#9f9f9f;
  -webkit-border-radius:4px;
}